@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

h1 {
  font-size: clamp(2.5rem, 1.9719rem + 2.253vw, 4rem);

  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 900;
  margin-block-end: 1.5rem;
}

h1,
.heading-dark {
  color: #28283d;
}
h2 {
  margin-block-end: 2rem;
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: clamp(1.875rem, 1.6549rem + 0.939vw, 2.5rem);
}
h3 {
  font-size: clamp(0.6875rem, 0.5775rem + 0.4694vw, 1rem);
  margin-block-end: 1rem;
  letter-spacing: 0.25rem;
  line-height: 1.2;
  color: #4d96a9;
  font-weight: 600;
}
p {
  margin-block-end: 1.5rem;
}

footer {
  background:
    linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)),
    url("./starter-code/assets/mobile/image-footer.jpg") center/cover no-repeat;
  width: 100vw;
  margin: 0 -2rem -2rem -2rem;
  padding: 4rem 2rem;
  color: white; /* make text white */
}

.logo {
  margin-block-start: 1rem;
  margin-block-end: 4rem;
}

.hero {
  width: 100vw;
  height: 10rem;
  margin-block-end: 3rem;
  object-fit: cover;
  object-position: center;
}

.middle-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-block-start: 4rem;
  margin-block-end: 4rem;
}
.middle-section img {
  width: 100%;
  border-radius: 0.5rem;
}

.btn {
  border: none;
  color: white;
  padding: 1rem 2.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 1.8125rem;
  transition: 0.2s ease-in-out;
}

.btn-green {
  background-color: #4d96a9;
  margin-block-end: 1rem;
}
.btn-green:hover {
  background-color: #71c0d4;
}
.btn-purple {
  background-color: #855fb1;
}

.top {
  margin-block-end: 4rem;
}

.btn-purple:hover {
  background-color: #b18bdd;
}

.description {
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: 0;
}

.description-dark {
  color: #87879d;
}

/* .description-light {
} */

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 0.0625rem;
  height: 5rem;
  background-color: #d1d1df;
}

.circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0.0625rem solid #d1d1df;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: 1rem;
  color: #87879d;
}

.circle-bottom {
  margin-block-end: -1.75rem;
  z-index: 1;
}

/* TABLET VIEW */
@media (min-width: 768px) {
  .hero {
    width: 105vw;
    height: auto;
    margin-block-end: 3rem;
    object-fit: cover;
    object-position: center;
  }

  .middle-section {
    /* grid-template-rows: repeat(1, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .description {
    margin-inline-start: 72px;
    margin-inline-end: 72px;
  }

  .heading-dark {
    margin-inline-start: 128px;
    margin-inline-end: 128px;
  }

  footer {
    background:
      linear-gradient(rgba(77, 150, 169, 0.9), rgba(77, 150, 169, 0.9)),
      url("./starter-code/assets/tablet/image-footer.jpg") center/cover
        no-repeat;
    width: 100vw;
    margin: 0 -2rem -2rem -2rem;
    padding: 6rem 2rem;
    color: white;
  }
}

/* DESKTOP VIEW */
@media (min-width: 1440px) {
  .article-middle {
    margin-inline-start: 160px;
    margin-inline-end: 160px;
  }
  .description {
    margin-inline-start: 270px;
    margin-inline-end: 270px;
  }
  .heading-dark {
    margin-inline-start: 320px;
    margin-inline-end: 320px;
  }
}
