@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-dark-slate: #28283d;
  --color-gray: #87879d;
  --color-light-gray: #d1d1df;
  --color-teal: #4d96a9;
  --color-teal-light: #71c0d4;
  --color-teal-overlay: rgba(77, 150, 169, 0.9);
  --color-purple: #855fb1;
  --color-purple-light: #b18bdd;
  --color-white: #ffffff;

  /* Spacing */
  --spacing-1: 1rem;
  --spacing-1-5: 1.5rem;
  --spacing-2: 2rem;
  --spacing-2-5: 2.5rem;
  --spacing-3: 3rem;
  --spacing-4: 4rem;
  --spacing-4-5: 4.5rem;
  --spacing-5: 5rem;
  --spacing-6: 6rem;
  --spacing-8: 8rem;
  --spacing-10: 10rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--spacing-2);
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

h1 {
  font-size: clamp(2.5rem, 1.9719rem + 2.253vw, 4rem);

  line-height: 1.1;
  letter-spacing: 0;
  font-weight: 900;
  margin-block-end: var(--spacing-1-5);
}

h1,
.heading-dark {
  color: var(--color-dark-slate);
  margin-inline-start: var(--spacing-2);
  margin-inline-end: var(--spacing-2);
}
h2 {
  margin-block-end: var(--spacing-2);
  font-weight: 900;
  line-height: 1.2;
  letter-spacing: 0;
  font-size: clamp(1.875rem, 1.6549rem + 0.939vw, 2.5rem);
}
.slogan {
  font-size: clamp(0.6875rem, 0.5775rem + 0.4694vw, 1rem);
  margin-block-end: var(--spacing-1);
  letter-spacing: 0.25rem;
  line-height: 1.2;
  color: var(--color-teal);
  font-weight: 600;
}
p {
  margin-block-end: var(--spacing-1-5);
}

footer {
  background:
    linear-gradient(var(--color-teal-overlay), var(--color-teal-overlay)),
    url("./assets/mobile/image-footer.jpg") center/cover no-repeat;
  width: 100vw;
  margin: 0 calc(var(--spacing-2) * -1) calc(var(--spacing-2) * -1)
    calc(var(--spacing-2) * -1);
  padding: var(--spacing-4) var(--spacing-2);
  color: var(--color-white);
}

.logo {
  margin-block-start: var(--spacing-1);
  margin-block-end: var(--spacing-4);
}

.hero-left,
.hero-right {
  display: none;
}

.hero-mobile {
  width: 100vw;
  height: var(--spacing-10);
  margin-block-end: var(--spacing-3);
  object-fit: cover;
  object-position: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-1);
  margin-block-start: var(--spacing-4);
  margin-block-end: var(--spacing-4);
  padding-inline-start: var(--spacing-2);
  padding-inline-end: var(--spacing-2);
}
.middle-section img {
  width: 100%;
  border-radius: 0.5rem;
}

.btn {
  border: none;
  color: var(--color-white);
  padding: var(--spacing-1) var(--spacing-2-5);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1.5;
  cursor: pointer;
  border-radius: 1.8125rem;
  transition: 0.2s ease-in-out;
}

.btn-green {
  background-color: var(--color-teal);
  margin-block-end: var(--spacing-1);
}
.btn-green:hover {
  background-color: var(--color-teal-light);
}
.btn-purple {
  background-color: var(--color-purple);
}

.top {
  margin-block-end: var(--spacing-4);
}

.btn-purple:hover {
  background-color: var(--color-purple-light);
}

.description {
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: 0;
  padding-inline-start: var(--spacing-2);
  padding-inline-end: var(--spacing-2);
}

.description-dark {
  color: var(--color-gray);
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.line {
  width: 0.0625rem;
  height: var(--spacing-5);
  background-color: var(--color-light-gray);
}

.circle {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  border: 0.0625rem solid var(--color-light-gray);
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: var(--spacing-1);
  color: var(--color-gray);
}

.circle-bottom {
  margin-block-end: -1.75rem;
  z-index: 1;
}

/* TABLET VIEW */
@media (min-width: 48rem) {
  .hero-mobile {
    width: 105vw;
    height: auto;
    margin-block-end: var(--spacing-3);
    object-fit: cover;
    object-position: center;
  }

  .middle-section {
    grid-template-columns: repeat(4, 1fr);
    gap: var(--spacing-1-5);
    padding-inline-start: var(--spacing-2-5);
    padding-inline-end: var(--spacing-2-5);
  }

  .description {
    margin-inline-start: var(--spacing-4-5);
    margin-inline-end: var(--spacing-4-5);
  }

  footer {
    background:
      linear-gradient(var(--color-teal-overlay), var(--color-teal-overlay)),
      url("./assets/tablet/image-footer.jpg") center/cover no-repeat;
    width: 100vw;
    margin: 0 calc(var(--spacing-2) * -1) calc(var(--spacing-2) * -1)
      calc(var(--spacing-2) * -1);
    padding: var(--spacing-6) var(--spacing-2);
    color: var(--color-white);
  }
}

/* DESKTOP VIEW */
@media (min-width: 90rem) {
  footer {
    background:
      linear-gradient(var(--color-teal-overlay), var(--color-teal-overlay)),
      url("./assets/desktop/image-footer.jpg") center/cover no-repeat;
    padding: var(--spacing-8) var(--spacing-2);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-inline-start: var(--spacing-10);
  }

  .footer-left h2,
  .footer-center p {
    margin-inline-start: 0;
  }

  .footer-left,
  .footer-center {
    text-align: left;
  }
  .hero-mobile {
    display: none;
  }

  .hero-section {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: 100vw;
    margin-left: calc(var(--spacing-2) * -1);
  }

  .hero-left,
  .hero-right {
    display: block;
    align-self: start;
  }

  .hero-left {
    justify-self: start;
    transform: translateX(-3%);
  }

  .hero-right {
    justify-self: end;
    transform: translateX(5%);
  }

  .hero-content {
    display: block;
    text-align: center;
    padding: 0 var(--spacing-2);
  }

  .article-middle {
    margin-inline-start: var(--spacing-10);
    margin-inline-end: var(--spacing-10);
  }

  .hero-content .btn-purple {
    margin-left: var(--spacing-1);
  }
  .divider {
    margin-block-start: var(--spacing-4-5);
  }
  .heading-dark {
    margin-block-end: var(--spacing-2);
  }
}
